RewriteEngine On
RewriteBase /mb/
RewriteRule ^livecasino$ livecasino.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^messages$ messages.php [L]
RewriteRule ^messageslist$ messageslist.php [L]
RewriteRule ^home$ anasayfa.php [L]
RewriteRule ^sanal-spor$ sanal-spor.php [L]
RewriteRule ^livetv$ canlitv.php [L]
RewriteRule ^slots$ slots.php [L]
RewriteRule ^ticket$ ticket.php [L]
RewriteRule ^highlights$ highlights.php [L]
RewriteRule ^today$ sportsbugun.php [L]
RewriteRule ^todayb$ sportsbugunb.php [L]
RewriteRule ^todayt$ sportsbugunt.php [L]
RewriteRule ^sport99$ sportsulke.php [L]
RewriteRule ^sport1$ sportsfutbol.php [L]
RewriteRule ^sport2$ sportsulkeb.php [L]
RewriteRule ^sport7$ sportsbasketbol.php [L]
RewriteRule ^sport3$ sportsulket.php [L]
RewriteRule ^sport8$ sportstenis.php [L]
RewriteRule ^sport4$ sportsulkev.php [L]
RewriteRule ^sport44$ sportsvoleybol.php [L]
RewriteRule ^sport5$ sportsulkebuz.php [L]
RewriteRule ^sport55$ sportsbuzhokeyi.php [L]
RewriteRule ^sport6$ sportshentbol.php [L]
RewriteRule ^sport9$ sportsmasatenisi.php [L]
RewriteRule ^sport10$ sportsbeyzbol.php [L]
RewriteRule ^sport11$ sportsrugby.php [L]
RewriteRule ^sport12$ sportsdovus.php [L]
RewriteRule ^favorites$ favorligler.php [L]
RewriteRule ^sporbahisleri$ sports.php [L]
RewriteRule ^live$ canlibahis.php [L]
RewriteRule ^live2$ canlibahisb.php [L]
RewriteRule ^live3$ canlibahist.php [L]
RewriteRule ^live4$ canlibahisv.php [L]
RewriteRule ^live5$ canlibahisbuz.php [L]
RewriteRule ^livedetail$ canlibahisdetail.php [L]
RewriteRule ^live2detail$ canlibahisbdetail.php [L]
RewriteRule ^live3detail$ canlibahistdetail.php [L]
RewriteRule ^live4detail$ canlibahisvdetail.php [L]
RewriteRule ^live5detail$ canlibahisbuzdetail.php [L]
RewriteRule ^account$ hesabim.php [L]
RewriteRule ^statement$ statement.php [L]
RewriteRule ^betdetails$ betdetails.php [L]
RewriteRule ^editor$ editor.php [L]
RewriteRule ^personalDetails$ personalDetails.php [L]
RewriteRule ^preferences$ preferences.php [L]
RewriteRule ^changePassword$ changePassword.php [L]
RewriteRule ^results$ results.php [L]
RewriteRule ^result$ result.php [L]
RewriteRule ^resultopen$ resultopen.php [L]
RewriteRule ^information$ information.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^support$ support.php [L]
RewriteRule ^help$ help.php [L]
RewriteRule ^novomatic$ novomatic.php [L]
RewriteRule ^egt$ egt.php [L]
RewriteRule ^amatic$ amatic.php [L]
RewriteRule ^pragmatic$ pragmatic.php [L]
RewriteRule ^playtech$ playtech.php [L]
RewriteRule ^gamomat$ gamomat.php [L]
RewriteRule ^netent$ netent.php [L]
RewriteRule ^casinotechnology$ casinotechnology.php [L]
RewriteRule ^skywind$ skywind.php [L]
RewriteRule ^kagaming$ kagaming.php [L]
RewriteRule ^isoftbet$ isoftbet.php [L]
RewriteRule ^aristocrat$ aristocrat.php [L]
RewriteRule ^wazdan$ wazdan.php [L]
RewriteRule ^betting-glossary$ betting-glossary.php [L]



RewriteRule ^logout$ logout.php [L]

